* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  margin: 0 0;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  line-height: 1.5em;
  font-size: 20px;
  background-color: black;
  
}

h1, h2, h3 {
  font-size: inherit;
}



a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}
body,html,#app {
  height: 100%;
  overflow: hidden;
}
#main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#buffer {
  flex: 2;
  overflow-y: auto;
}
#input {
  height: 5em;
  width: 100%;
  color: inherit;
  background-color: inherit;
  white-space: inherit;
  font-size: inherit;
  border-left: 0;
  border-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.message-announcement {
  font-weight: bold;
}

.message-system {
  color: red;
  font-weight: bold;
}
